.blacked-out{
  background-color: black;
}

.always-black{
  background-color: black;
}

.always-dotted{
  border-style: dotted;
  border-width: 1mm;
  padding: 2mm;
}

.dotted {
  border-style: dotted;
  border-width: 1mm;
  padding: 2mm;
}

.selected {border-style: solid;}

.clicked {
  border-style: solid;
  border-width: 1cm;
  border-color: #3498DB;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
 
  